.navbar.navbar-inverse
    .navbar-inner
        a.brand(href="/admin") Admin Interface
        .pull-right
            ul.nav
                li: a(href="/admin/NewPost") New Post
        ul.nav
            li: a(href="/Admin/postList") Posts
            li: a(href="/Admin/Images") Images
            