!=partial("nav")
.container
	.content
		.row
			.span9
				section#content
					h2.content-title About Me
					.well My name is Eniz Gülek, 23 years old, a Computer Engineering Student at SAÜ, currently living in Istanbul & Sakarya, Turkey.
