.span3
    .well 
        ul.nav.nav-list
            li.nav-header  Categories
                li.active
                   a(href="#") Home
                li
                   a(href="#") Projects 
                li
                   a(href="#") About Me 
                li
                   a(href="#") Contact


