!=partial("nav")
.container
	.content
		.row
			.span9
				.content
					.page-header
						h2
							span.title Contact 
					.row
						.span6
							span#formTitle İletişim Formu
							p
								br

						.span6
							.control-group
								label.control-label Email address		
								.controls
									.input-prepend
										span.add-on
											i.icon-envelope
										input.span2(type="text")
							.control-group
								label.control-label Description		
								.controls
									.input-prepend
										span.add-on
											i.icon-edit
										textarea.span2(row="4")	


											

